# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/

# IDE
.idea/
.vscode/

# Project specific
.env
data/*.csv
models/*.h5

# Next.js
frontend/.next/
frontend/node_modules/
frontend/.env*.local
frontend/out/
frontend/build/
frontend/.DS_Store
